<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->


    <div class="row">
      <br/>
     <div class="row" id="users_specialities_listing">
        <%= render partial: "users_specialities/users_specialities_list", locals: {users_specialities: @users_specialities } %>
      </div>



    </div>
  </div>
  <div id="right">
    <!-- GOOGLE MAP -->

    <div id="map" style="width: 100%;
  height: 600px;"></div>



  </div>
</div>




