


<h2>Résulat de recherche</h2>

     <div class="row">

        <%= render partial: "users_specialities/users_specialities_list", locals: {users_specialities: @users_specialities } %>
  </div>







