<% users_specialities.each do |user_speciality| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading preview">
        <%#= image_tag user_speciality.user.photo(:medium) %>
      </div>

      <div class="panel-body">

        <%= user_speciality.user.email %>
        </br>
        <%= user_speciality.avg_punctuation%>


      </div>
    </div>
  </div>

<% end %>
