<div style="margin-bottom: 5%">


</div>





    <div class="row">
      <div class="col-md-2">

      </div>
      <div  class="col-md-6" style="background-color: #e3e5e6e6 ">

<%= render 'form', users_speciality: @users_speciality %>




      </div>
</div>




<style>
  body {

    background-image: none;
  }

</style>
