#header .nav-txt .icon,
#nav ul .active,
#nav ul a:hover,
.socail-network a,
.header .title,
.offer-sec .btn-primary:hover,
.banner .next-section,
.testimonail-slider .desnation,
.price-holder .price-block .price,
.price-holder .price-block .txt,
.price-holder li .fa,
.team-col .desnation,
.main-slider .slide h1 .clr,
#style-changer .changer-opener,
#footer .footer-area .title,
.service-sec .service-category .fa,
#footer .footer-area .tel a:hover,
#footer .footer-area .mail a:hover,
#footer .footer-holder p a,
#header .info-box .icon,
.offer-sec .btn-primary:focus,
.offer-sec .btn-primary.focus,
.newsletter-block .txt a {
  color: #2f50e0;
}

#back-top,
#header .nav-opener,
.overlay:before,
.btn-primary:hover,
#header .home-link,
.banner .block .appointment-form .btn-primary,
.fancybox-close-small,
#footer .socail-network a:hover,
.banner .next-section:hover,
.main-slider .slick-prev:hover,
.main-slider .slick-next:hover,
.contact-sec .contact-form .btn-primary,
.newsletter-block .newsletter-form .btn-primary,
.price-holder.active .price-heading,
.price-holder.active .btn-primary {
  background: #2f50e0;
}

.btn-primary:hover,
.team-col .socail-network a:hover {
  border-color: #2f50e0;
}
