



    <div class="row">
      <div  class="col-md-6" style="background-color: #e3e5e6e6 ">


<h2>Evaluer à nouveau</h2>
<%= render 'form', review: @review %>

 </div>
</div>






<%= link_to 'Back', user_profile_show_path(@review.users_speciality.user_id) %>

<style>

body
{
  background-image: none;
}


a.form-actions {

  display: none;
}

</style>

<script>



  </script>
